* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.senu {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    animation: fadeInOut 4s infinite;
}

.coming-soon {
    color: white;
    font-size: 2rem;
    opacity: 0;
    animation: fadeInOut 4s infinite 2s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} 