@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  @media (max-width: 767px) {
    .animate-scroll {
      animation-duration: 5zs;
    }
  }
}

@layer base {
  @font-face {
    font-family: 'NewBlack';
    src: url('/fonts/New-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


body {
  background-color: #070707;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}