@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'NewBlack';
    src: url('/fonts/New-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


body {
  background-color: #070707;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}